@model ModuleManager.SqlServer.Models.EditUserViewModel
@{
    ViewData["Title"] = "User Home";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2 class="text-center mb-4">Xin chào, @User.Identity.Name!</h2>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card shadow-sm">
				<div class="card-body">
					<div class="row align-items-center">
						<div class="col-md-4 text-center mb-3 mb-md-0">
							<img src="@Model.ImageUrl" alt="Avatar" class="img-thumbnail" style="width: 250px; height: 250px; object-fit: contain;">
						</div>

						<div class="col-md-8">
							<div class="form-group mb-3">
								<label class="fw-bold">Tên người dùng:</label>
								<p class="form-control-plaintext border rounded p-2">@Html.DisplayFor(model => model.UserName)</p>
							</div>

							<div class="form-group mb-3">
								<label class="fw-bold">Email:</label>
								<p class="form-control-plaintext border rounded p-2">@Html.DisplayFor(model => model.Email)</p>
							</div>

							<a asp-controller="User" asp-action="Edit" class="btn btn-primary">Chỉnh sửa thông tin</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>